<html>
<head>
	<title> Ex 4 </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
	<link href="/styles.css" rel="stylesheet">
	<style>
		.butt{
			color:pink;
		}
		body{
			cursor: url('icon.gif');
		}
	</style>
</head>

<body>

<form action="/fileWrite" class="text-center"method="get">
			<input type="button" class = 'butt' value="Read" id="button" >
			<input type="submit" class="butt" value="Write" id="button2" >
			<input type="submit" class="butt" formaction="/fileUpdate" value="Update File" id="button3" >
		</form>
	</div>
	<div class="container whiteboard" id="response">
	<script type="text/javascript">
	//reads file and displays info in the response div
    $(document).ready(function() {
        $('#button').click(function() {
			$('#response').html("<h4>Category Name: <%=videoData.categoryName%></h4><%videoData.categories.forEach(function(item){%><ul><li>Category ID: <%=item.categoryID%><ul><li>Category Name: <%=item.categoryName%><ul><li>Category Description: <%=item.categoryDescription%><ul><li>Video Count: <%=item.videosCount%></li></ul></li></ul></li></ul></li></ul><%})%>");
        });
    });
    </script>
</body>
</html>
	